@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap');

body {
	background-color: #444;
	margin: 0;
	font-family: "Baloo Chettan 2", sans-serif;
	overflow: hidden;
	color: #bbb;
}

nav {
	display: flex;
	position: fixed;
	top: 0;
	width: 100%;
	opacity: 0.1;
	transition: opacity 0.4s;
}

nav:hover {
	opacity: 1;
}
nav a {
	color: inherit;
	padding: 0.25em 1em;
	text-decoration: none;
}
nav a:hover {
	color: #fff;
}

#slideDeck section {
	font-size: 150%;
	padding: 0 4em;
	box-sizing: border-box;
	background-color: #fff;
	color: #444;
	opacity: 0;
	margin: 5vh 10vw;
	width: 80vw;
	min-height: 90vh;
	border-radius: 1em;
	overflow: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	position: absolute;
	transition: opacity 1s;
	animation: toLeft 1s forwards;
}

#slideDeck section.current {
	opacity: 1;
	animation: fromRight 1s forwards;
}

#slideDeck.backwards section {
	animation: toRight 1s forwards;
}
#slideDeck.backwards section.current {
	animation: fromLeft 1s forwards;
}

img {
	width: 20%;
}

section h1 {
	font-size: 2em;
	margin-top: 3em;
}

h1, h2, h3, h4, p, .center {
	text-align: center;
}

em, strong {
	color: #909;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 0.25em 1em;
	box-sizing: border-box;
	user-select: none;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

#toolbar {
	opacity: 0;
	display: flex;
	justify-content: center;
	font-size: 1.2em;
	transition: opacity 0.4s;
}

#toolbar:hover {
	opacity: 1;
}

#current {
	margin: 0 1em;
}

@keyframes fromRight {
	from { transform: translateX(100vw); }
	to { transform: translateX(0); }
}
@keyframes toLeft {
	from { transform: translateX(0); }
	to { transform: translateX(-100vw); }
}
@keyframes fromLeft {
	from { transform: translateX(-100vw); }
	to { transform: translateX(0); }
}
@keyframes toRight {
	from { transform: translateX(0); }
	to { transform: translateX(100vw); }
}
