@import url('https://fonts.googleapis.com/css2?family=Baloo+Chettan+2&display=swap');

body {
	background-color: #444;
	margin: 0;
}

#slideDeck section {
	width: 80%;
	margin: 5vh auto;
	background-color: #fff;
	min-height: 90vh;
	text-align: center;
	overflow: auto;
	border-radius: 1em;
	display: none;
	flex-direction: column;
	justify-content: space-around;
}

#slideDeck section.current {
	display: flex;
}

img {
	width: 20%;
}

h1, h2, footer {
	font-family: "Baloo Chettan 2", sans-serif;
}
h1 {
	font-size: 4em;
}
h2 {
	font-size: 3em;
}

footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	color: #bbb;
	padding: 0.25em 1em;
	box-sizing: border-box;
	user-select: none;
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

#toolbar {
	opacity: 0;
	display: flex;
	justify-content: center;
	font-size: 1.2em;
	transition: opacity 0.4s;
}

#toolbar:hover {
	opacity: 1;
}

#current {
	margin: 0 1em;
}
